{% extends "layout.twig" %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>Nom</td>
                <td>Couleur</td>
                <td>Naissance</td>
            </tr>
        </thead>
        <tbody>
            {% for animal in animaux %}
                <tr>
                    <td>{{ animal.id }}</td>
                    <td>{{ animal.nom_animal }}</td>
                    <td>{{ animal.couleur }}</td>
                    <td>{{ animal.date_naissance | date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}