<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>S3 web</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="/css/bootstrap.css" >
	{% endblock %}
</head>
<body>
	{% for message in success_messages %}
		<div class="alert alert-primary" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in error_messages %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container">
		{% block body %}
		{% endblock %}
	</div>

	{% block javascripts %}
		<script src="/js/jquery-3.5.1.slim.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="/js/bootstrap.js"></script>
	{% endblock %}
</body>
</html>